.contacts__address {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 156px;
}

.contacts__subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.contacts__city,
.contacts__number-link,
.contacts__mail-link {
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 117%;
    color: #ffffff;
}

.contacts__number-link:hover,
.contacts__mail-link:hover {
    color: #cd06ff;
    text-shadow: 0 0 20px #cd06ff;
}

.contacts__number-link:focus,
.contacts__number-link:active,
.contacts__mail-link:focus,
.contacts__mail-link:active {
    color: #cd06ff;
    text-decoration: underline;
}

.contacts__city,
.contacts__number,
.contacts__mail {
    position: relative;
    text-align: left;
    padding-left: 70px;
    margin-bottom: 30px;
}

.contacts__city::before,
.contacts__number::before,
.contacts__mail::before {
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 32px;
    background-size: contain;
}

.contacts__city::before {
    top: 10px;
    background-image: url(../assets/images/figma-graphics/location.svg);
}

.contacts__number:before {
    background-image: url(../assets/images/figma-graphics/bx_bxs-phone-call.svg);
}

.contacts__mail:before {
    background-image: url(../assets/images/figma-graphics/envelope.svg);
}

.contacts__socials {
    display: flex;
    content: "";
    width: 50px;
    height: 50px;
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    gap: 27px;
}

.contacts__socials--vk {
    background-image: url(../assets/images/figma-graphics/vk.svg);
}


.contacts__socials--telegram {
    background-image: url(../assets/images/figma-graphics/tg.svg);
}

.contacts__socials--pinterest {
    background-image: url(../assets/images/figma-graphics/pinterest.svg);
}

.contacts__socials--stumbleupon {
    background-image: url(../assets/images/figma-graphics/stumbleupon.svg);
}

.contacts__socials--vk:hover,
.contacts__socials--telegram:hover,
.contacts__socials--pinterest:hover,
.contacts__socials--stumbleupon:hover {
    filter: drop-shadow(0 0 20px #cd06ff);
}


.credits {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
}

.credits__designer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.credits__item-mail:hover {
    text-shadow: 0 0 10px #cd06ff;
}