.faq__subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.faq__element {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
}

.faq__element:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    vertical-align: middle;
}

.faq__element:nth-child(even) {
    background-color: #440F51;
    color: #fff;
}

.faq__element:nth-child(even):after {
    background-image: url(../assets/images/css/open.svg);
}

.faq__element:nth-child(odd):after {
    background-image: url(../assets/images/css/open-purple.svg);
}