html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15;
    color: #ffffff;
    background-color: #1b1a1b;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

section {
    padding-top: 100px;
}

.container {
    max-width: 1240px;
    padding: 30px;
    margin: auto;
}