.halls__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.halls__subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.halls__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 580px;
    height: 349px;
    border: 1px solid #000;
    background-size: cover;
    background-position: center;
}

.halls__item:hover {
    border: 1px solid #ffffff;
}

.halls__item--1 {
    background-image: url(../assets/images/figma-graphics/80s.jpg);
}

.halls__item--2 {
    background-image: url(../assets/images/figma-graphics/starwars.jpg);
}

.halls__item--3 {
    background-image: url(../assets/images/figma-graphics/wildwest.jpg);
}

.halls__item--4 {
    background-image: url(../assets/images/figma-graphics/neon.jpg);
}

.halls__name {
    font-weight: 700;
    font-size: 70px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}