.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 43px;
    text-transform: uppercase;
    padding-left: 0px;
}

.nav__item {
    transition-duration: 400ms;
    transition-property: color, text-shadow;
}

.nav__item:hover {
    color: var(--second-main-color);
    text-shadow: 0 0 20px var(--second-main-color);
}


.nav__item:focus,
.nav__item:active {
    color: var(--second-main-color);
    text-decoration: underline;
}


.header__call {
    display: flex;
    border: 3px solid var(--second-main-color);
    padding: 16px 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 136%;
    text-transform: uppercase;
    transition-duration: 400ms;
    transition-property: border, background-color;
}

.header__call:hover,
.header__call:focus {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    background: var(--main-color);
}

.header__call:active {
    border: 3px solid #000;
    border-radius: 10px;
    background: var(--third-main-color);
}