.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 43px;
    text-transform: uppercase;
    padding-left: 0px;
}

.header__call {
    display: flex;
    border: 3px solid #cd06ff;
    padding: 16px 30px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 136%;
    text-transform: uppercase;
}