html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15;
    color: #ffffff;
    background-color: #1b1a1b;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

section {
    padding-top: 100px;
}

.container {
    max-width: 1240px;
    padding: 30px;
    margin: auto;
}

.header {
    display: block;
    position: relative;
    min-height: 862px;
}

.title {
    font-weight: 900;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: -0.1em;
    margin-bottom: 0px;
}

.post-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 179%;
    margin-top: 0px;
    margin-left: 100px;
}

.header:after {
    content: "";
    position: absolute;
    top: 70px;
    right: 0;
    width: 675px;
    height: 762px;
    background-image: url(../assets/images/figma-graphics/Слой\ 1\ 1.png);
    background-size: contain;
}

.subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hall-link {
    margin-bottom: 60px;
}

.hall-image1 {
    border: 1px solid #000;
    width: 1180px;
    height: 710px;
    background-image: url(../assets/images/figma-graphics/80s.jpg);
    background-size: cover;
    background-position: center;
}

.hall-image2 {
    border: 1px solid #000;
    width: 1180px;
    height: 710px;
    background-image: url(../assets/images/figma-graphics/starwars.jpg);
    background-size: cover;
    background-position: center;
}

.hall-image3 {
    border: 1px solid #000;
    width: 1180px;
    height: 710px;
    background-image: url(../assets/images/figma-graphics/wildwest.jpg);
    background-size: cover;
    background-position: center;
}

.hall-image4 {
    border: 1px solid #000;
    width: 1180px;
    height: 710px;
    background-image: url(../assets/images/figma-graphics/neon.jpg);
    background-size: cover;
    background-position: center;
}

.hall-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-align: center;
    margin-top: 275px;
}

.about p {
    font-weight: inherit;
    font-size: inherit;
    line-height: 140%;
    color: #fff;
    margin-bottom: 30px;
}

.quote {
    font-weight: 400;
    font-size: 44px;
    line-height: 114%;
    text-transform: uppercase;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.quote:before {
    content: "„";
    font-weight: 900;
    margin-right: 8px;
    color: #6c0287;
}

.quote:after {
    content: "“";
    font-weight: 900;
    margin-left: 8px;
    color: #6c0287;
}

.cite,
.cite cite {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #ffffff;
    text-align: right;
    font-style: normal;
    vertical-align: middle;
}

.cite:before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url(../assets/images/figma-graphics/Ellipse\ 2.png);
    background-size: contain;
    vertical-align: middle;
    margin-right: 20px;
}

.city {
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 30px;
}

.city:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 32px;
    background-image: url(../assets/images/figma-graphics/location.svg);
    background-size: contain;
    vertical-align: middle;
    margin-right: 27px;
}

.number {
    margin-bottom: 30px;
}

.number a {
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 117%;
    color: #ffffff;
}

.number:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 32px;
    background-image: url(../assets/images/figma-graphics/bx_bxs-phone-call.svg);
    background-size: contain;
    vertical-align: middle;
    margin-right: 27px;
}

.mail a {
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 117%;
    color: #ffffff;
}

.mail:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 32px;
    background-image: url(../assets/images/figma-graphics/envelope.svg);
    background-size: contain;
    vertical-align: middle;
    margin-right: 27px;
}

.vk {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../assets/images/figma-graphics/vk.svg);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-right: 27px;
}


.telegram {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../assets/images/figma-graphics/tg.svg);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-right: 27px;
}

.pinterest {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../assets/images/figma-graphics/pinterest.svg);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-right: 27px;
}

.stumbleupon {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../assets/images/figma-graphics/stumbleupon.svg);
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-top: 40px;
}